.login{
    width: 100vw;  
    height: 100vh;  
    overflow: hidden; 
    background: linear-gradient(to left, rgb(23 129 234 / 50%), rgb(1 4 8));
    background-position: top left;
    background-size: cover;
    position: relative;
    }
    .login {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .container1{
      background-color: rgba(0, 0, 0, 0.45);
      
    }
    .loginForm {
      display: flex;
      flex-direction: column;
    }
    
    .loginInput {
      margin-bottom: 10px;
      padding: 5px;
      height: 40px;
            border-radius: 5px;
            background-color: gray;
            color: white;
            padding-left: 10px;
    
            &::placeholder {
              color: lightgray;
            }
    }
    
    .loginButton {
      background-color: teal;
      border: none;
      color: white;
      padding: 5px;
      cursor: pointer;
    }
    img{
      width: 80px;
    }
    input {
      height: 40px;
      width: 100%;
      border-radius: 5px;
      background-color: gray;
      color: white;
      padding-left: 10px;
      margin-top: 5px;
      
    
      &::placeholder {
        color: lightgray;
      }
    }
    
    