.newMovie {
  flex: 4;
}

.addMovieForm {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
}

.addMovieItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.addMovieItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addMovieItem > input {
  padding: 10px;
  border: 1px solid black;
}

.addMovieItem > select {
  padding: 10px;
}

.addProductButton {
  height: 30px;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
