.newSeries {
  flex: 4;
}

.addSeriesForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addSeriesItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addSeriesItem > input {
  padding: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  
}

.addProductItem > select {
  padding: 10px;
}

.addSeriesButton {
  height: 30px;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
button{
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background: green;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}