.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle{
    font-size: 20px;
    color: white;
}

.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.postive{
    font-size: 80px;
}
.featuredIcon{
    font-size: 82px;
      
    margin-left: 55px;
    color: white;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: gray;
}

.Revenue{
    background-color: rgb(84,126,78);
}
.userInfo{
background-color: rgb(74,126,167);
}
.MovieInfo{
background-color: rgb(162,124,24);
}
.SeriesInfo{
background-color: rgb(112, 148, 177);
}

.birr{
    font-size: 13px;
}